<article class="release article h-entry">
  <h1 class="page-title p-name">{{ title }}</h1>

  <div class="release-content article-content e-content">
    <figure class="release-artwork">
      {% render "release-link.liquid", title: bandcamp.title, url: bandcamp.url %}
    </figure>

    <div class="release-description">
      {{ content }}
    </div>
  </div>

  <iframe class="bandcamp-player" loading="lazy" src="https://bandcamp.com/EmbeddedPlayer/album={{ bandcamp.id }}/size=large/bgcol=333333/linkcol=aa8b54/tracklist=false/artwork=none/transparent=true" title="Bandcamp Player"></iframe>
</article>
