@import "reset";

html {
	background: #070707 url("../images/layout/html.png") no-repeat fixed 50% 0;
}

body {
	font: normal 18px/1.5 Baskerville, Georgia, serif;
	background: transparent;
	color: #ced4d7;
	padding: 60px 0;
}

a {
	color: #aa8b54;
	text-decoration: underline;
	
	&:hover,
	&:focus {
		color: #c29951;
	}
}

header {
	background: url("../images/layout/header.png") repeat-x 0 0;
	display: block;
	height: 42px;
	margin-bottom: 60px;
}

#logo a {
	background: url("../images/layout/logo.png") no-repeat 0 0;
	display: block;
	height: 42px;
	margin: 0 auto;
	overflow: hidden;
	text-indent: -9999px;
	width: 208px;
}

article {
	h1 {
		font-size: 28px;
		line-height: 1.2;
		text-align: center;
	}
	
	p {
		margin: 20px auto 0 auto;
		text-align: justify;
		width: 410px;
	}
	
	p img {
		border: 1px solid rgba( #fff, 0.2 );
		height: 400px;
		padding: 4px;
		width: 400px;
	}
	
	p a:hover img {
		border-color: rgba( #fff, 0.3 );
	}
	
	sup {
		font-size: 12px;
		margin: 0 2px;
		position: relative;
		text-decoration: underline;
		top: 4px;
		vertical-align: super;
	}
	
	sup span {
		display: none;
	}
}

footer {
	color: rgba( #fff, 0.2 );
	font-size: 14px;
	margin: 0 auto;
	text-align: center;
	width: 410px;
	
	&:hover {
		color: rgba( #fff, 0.3 );
	}
	
	ul {
		display: block;
		font-size: 10px;
		margin: 60px auto 10px auto;
		text-align: center;
	}
	
	ul:hover {
		color: rgba( #fff, 0.3 );
	}
	
	li {
		display: inline;
	}
	
	li:after,
	li:first-child:before {
		content: "|||||";
	}
	
	li a {
		display: inline-block;
		font-size: 14px;
		margin: 0 10px;
		vertical-align: middle;
	}
}