:root {
  --profile-apple-music: #fa243c;
  --profile-bandcamp: #408294;
  --profile-facebook: #1877f2;
  --profile-mastodon: #6364ff;
  --profile-soundcloud: #f30;
  --profile-spotify: #1db954;
  --profile-twitter: #1da1f2;
  --profile-vimeo: #1ab7ea;
}
