:root {
  --profile-bandcamp: #629aa9;
  --profile-facebook: #3b5998;
  --profile-itunes: #fff;
  --profile-soundcloud: #f30;
  --profile-spotify: #2ebd59;
  --profile-twitter: #55acee;
  --profile-vimeo: #1ab7ea;
}
