<!doctype html>
<html id="whoistheorchid-com" itemscope itemtype="http://schema.org/WebPage" lang="en-US">
<head>
	<meta charset="utf-8">

	<title>The Orchid — an instrumental post-rock band from Washington, DC</title>

	<meta name="apple-mobile-web-app-title" content="The Orchid">
	<meta name="application-name" content="The Orchid">
	<meta name="description" content="The Orchid is an instrumental post-rock band from Washington, DC.">
	<meta name="og:description" itemprop="description" content="The Orchid is an instrumental post-rock band from Washington, DC.">
	<meta name="og:title" itemprop="name" content="The Orchid">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@theorchid">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="h-card">

	<header role="banner">
		<h1><a href="/" rel="home" class="p-name u-url">The Orchid</a></h1>
	</header>

	<main role="main">
		{{ content }}
	</main>

	<footer role="contentinfo">
		<ul>
			<li><a href="https://theorchid.bandcamp.com/" rel="me">Bandcamp</a></li>
			<li><a href="https://twitter.com/theorchid" rel="me">Twitter</a></li>
			<li><a href="https://www.facebook.com/whoistheorchid" rel="me">Facebook</a></li>
			<li><a href="https://vimeo.com/whoistheorchid" rel="me">Vimeo</a></li>
		</ul>

		<p>Correspondence: <a href="mailto:booking&#064;whoistheorchid&#46;com" class="u-email">booking&#064;whoistheorchid&#46;com</a></p>

		<small>Some rights reserved. This site’s content is licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" rel="license">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International license</a>. Source code available on <a href="https://github.com/jgarber623/whoistheorchid.com" rel="source">GitHub</a>.</small>
	</footer>

</body>
</html>