<!doctype html>
<html lang="en-US">
<head>
	<meta charset="utf-8">

	{% capture page_title %}The Orchid — {% if page.title %}{{ page.title }}{% else %}an instrumental post-rock band from Washington, DC{% endif %}{% endcapture %}

	<title>{{ page_title }}</title>

	<meta name="apple-mobile-web-app-title" content="The Orchid">
	<meta name="application-name" content="The Orchid">
	<meta name="description" content="The Orchid is an instrumental post-rock band from Washington, DC.">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@theorchid">
	<meta property="og:description" content="The Orchid is an instrumental post-rock band from Washington, DC.">
	<meta property="og:image" content="https://whoistheorchid.com{% asset_path theorchid.png %}">
	<meta property="og:title" content="{{ page_title }}">

	<link rel="apple-touch-icon" href="{% asset_path theorchid.png %}">
	<link rel="shortcut icon" href="{% asset_path theorchid.png %}">

	<style>{% asset application.css %}</style>
</head>
<body>

	<div class="container">
		<header class="global-header" role="banner">
			<h1>
				<a href="/" rel="home">{% asset logo.svg %}</a>
			</h1>
		</header>

		<main class="global-content" role="main">
			{{ content }}
		</main>

		<footer class="global-footer h-card" role="contentinfo">
			<p class="bio p-note"><a href="/" class="p-name u-url" rel="home">The Orchid</a> is an instrumental post-rock band from <span class="p-locality">Washington</span>, <abbr class="p-region" title="District of Columbia">DC</abbr>.</p>

			<ul class="ui-list">
				<li><a href="https://theorchid.bandcamp.com/" rel="me">{% asset icons/bandcamp.svg %}</a></li>
				<li><a href="https://twitter.com/theorchid" rel="me">{% asset icons/twitter.svg %}</a></li>
				<li><a href="https://www.facebook.com/whoistheorchid" rel="me">{% asset icons/facebook.svg %}</a></li>
				<li><a href="https://soundcloud.com/whoistheorchid" rel="me">{% asset icons/soundcloud.svg %}</a></li>
				<li><a href="https://vimeo.com/whoistheorchid" rel="me">{% asset icons/vimeo.svg %}</a></li>
			</ul>

			<p>Correspondence: <a href="mailto:booking&#064;whoistheorchid&#46;com" class="u-email">booking&#064;whoistheorchid&#46;com</a></p>

			<small>Some rights reserved. This site’s content is licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" rel="license">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International license</a>. Source code available on <a href="https://github.com/jgarber623/whoistheorchid.com" rel="source">GitHub</a>.</small>
		</footer>
	</div>

	<script>
		if (navigator.serviceWorker) {
			navigator.serviceWorker.register('/service-worker.js');
		}
	</script>

</body>
</html>