---
layout: application
---

<article class="release article h-entry">
	<h1 class="page-title p-name">{{ page.title }}</h1>

	<div class="release-content article-content e-content">
		<figure class="release-artwork">
			<a href="{{ page.bandcamp_url }}" class="bordered-link">
				{% asset "releases/{{ page.album_slug }}-800.jpg" alt="{{ page.album_title }} cover art" %}
			</a>
		</figure>

		<div class="release-description">
			{{ content }}
		</div>
	</div>

	{% if page.bandcamp_id -%}
		{% include bandcamp_player.html bandcamp_id=page.bandcamp_id %}
	{% endif -%}
</article>
