---
layout: application
title: Shows
---

<h1 class="page-title">Shows</h1>

<ol class="shows-list ui-list" reversed>
  {% for show in site.data.shows reversed -%}
    <li>
      <div class="show h-event">
        <h2 class="p-name">
          <time class="dt-start" datetime="{{ show.date }}">
            {% if show.url -%}
              <a href="{{ show.url }}" class="u-url">{{ show.date | datetime_to_string }}</a>
            {% else -%}
              {{ show.date | datetime_to_string }}
            {% endif -%}
          </time>
        </h2>

        <p class="p-location h-card">
          {% if show.name -%}
            “{{ show.name }},”
          {% endif -%}
          {% if show.location.name -%}
            <span class="p-name">{{ show.location.name }}</span>,
          {% endif -%}
          <span class="p-locality">{{ show.location.locality }}</span>,
          <span class="p-region">{{ show.location.region }}</span>
        </p>

        {% if show.artists -%}
          <ul class="ui-list clearfix">
            {% for artist in show.artists -%}
              <li class="h-card">
                {% if artist.url -%}
                  <a href="{{ artist.url }}" class="p-name u-url">{{ artist.name }}</a>
                {% else -%}
                  <span class="p-name">{{ artist.name }}</span>
                {% endif -%}
              </li>
            {% endfor -%}
          </ul>
        {% endif -%}
      </div>
    </li>
  {% endfor -%}
</ol>
