---
layout: application
title: Shows
---

<h1 class="page-title">Shows</h1>

<ol class="shows-list ui-list" reversed>
	{% for show in site.data.shows reversed %}
		<li>
			<div class="show h-event">
				<h2 class="p-name">
					<time class="dt-start" datetime="{{ show.date }}">
						{% if show.url | length %}
							<a href="{{ show.show_url }}" class="u-url">{{ show.date | datetime_to_string }}</a>
						{% else %}
							{{ show.date | datetime_to_string }}
						{% endif %}
					</time>
				</h2>

				<p class="p-location h-card">
					<span class="p-name">{{ show.venue }}</span>,
					<span class="p-locality">{{ show.location.locality }}</span>,
					<span class="p-region">{{ show.location.region }}</span>
				</p>

				{% if show.bands | length %}
					<p>w/ {{ show.bands }}</p>
				{% endif %}
			</div>
		</li>
	{% endfor %}
</ol>