@-ms-viewport{
	width: device-width;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	background: #070707 image-url("html.png") no-repeat fixed 50% 0;
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
}

body {
	color: #ced4d7;
	font-family: Baskerville, Georgia, serif;
	line-height: 1.5;
	margin: 0;
	padding: 0 0 6rem 0;
}

/* @group HTML5 elements */

	footer,
	header,
	main {
		display: block;
	}

/* @end */

/* @group Links */

	a {
		color: #aa8b54;
		background: none;
		text-decoration: underline;

		&:focus,
		&:hover {
			color: #c29951;
		}

		&:focus {
			outline: 1px dotted rgba(#fff, 0.5);
		}
	}

/* @end */

/* @group Text-level semantics */

	sup {
		font-size: 0.75rem;
		margin: 0 0.125em;
		position: relative;
		text-decoration: underline;
		top: 0.25em;
		vertical-align: super;
	}

/* @end */

/* @group Embedded content */

	img {
		border: 0;
		-ms-interpolation-mode: bicubic;
		vertical-align: middle;
		width: 100%;
	}

/* @end */