.global-footer {
	color: rgba(#fff, 0.4);
	text-align: center;

	.bio a {
		color: rgba(#fff, 0.4);
		text-decoration: none;
	}

	abbr {
		border: 0;
		text-decoration: none;
	}

	ul {
		margin: 1.5rem 0;
	}

	li {
		display: inline-block;
		margin: 0 0.25rem;

		a {
			color: rgba(#fff, 0.4);
			display: block;
			padding: 0.5rem;

			&:focus,
			&:hover {
				color: rgba(#fff, 0.45);
			}
		}

		svg {
			fill: currentcolor;
			height: 1.5rem;
			vertical-align: middle;
			width: 1.5rem;
		}
	}

	small {
		display: block;
		font-size: 0.875rem;
		margin-top: 3rem;
	}
}