.global-footer {
	color: rgba(#fff, 0.4);
	text-align: center;

	.bio a {
		color: inherit;
		text-decoration: none;
	}

	abbr {
		border: 0;
		text-decoration: none;
	}

	ul {
		margin: 1.5rem 0;
	}

	li {
		display: inline-block;
		margin: 0 0.25rem;

		a {
			color: rgba(#fff, 0.4);
			display: block;
			padding: 0.5rem;

			&:focus,
			&:hover {
				color: rgba(#fff, 0.45);
			}
		}

		$profiles: (
			bandcamp: #629aa9,
			twitter: #55acee,
			facebook: #3b5998,
			soundcloud: #f30,
			vimeo: #1ab7ea
		);

		@each $profile, $color in $profiles {
			a[href*="#{$profile}"] {
				&:focus,
				&:hover {
					color: $color;
				}
			}
		}

		svg {
			fill: currentcolor;
			height: 1.5rem;
			vertical-align: middle;
			width: 1.5rem;
		}
	}

	small {
		display: block;
		font-size: 0.875rem;
		margin-top: 3rem;
	}
}