.global-header {
	margin: 3rem auto;
	max-width: 26em;
	text-align: center;

	@include breakpoint(35em) {
		margin: 4.5rem auto;
	}

	h1 {
		font-size: 1rem;
		line-height: 1;
		margin: 0;
	}

	a {
		display: block;
	}
}