.release-content {
	font-size: 1.125rem;
	margin: 0 auto;
	max-width: 26rem;

	p {
		margin: 0;
		text-align: justify;
	}

	blockquote {
		font-style: italic;
		margin: 1.5rem 0 0 0;

		p {
			text-align: center;

			&:before {
				content: "“";
			}

			&:after {
				content: "”"
			}
		}
	}
}

.release-artwork {
	margin: 1.5rem 0;
}

#bandcamp-player {
	border: 0;
	display: block;
	height: 7.5rem;
	margin-top: 3rem;
	width: 100%;
}

@include breakpoint(max-height 28em) {
	.release-content {
		display: table;
		margin-top: 1.5rem;
		max-width: 35rem;
		width: 100%;
	}

	.release-artwork {
		display: table-cell;
		vertical-align: top;
		width: 40%;
	}

	.release-description {
		display: table-cell;
		padding-left: 1.5rem;
		vertical-align: top;
		width: 60%;
	}

	#bandcamp-player {
		margin: 1.5rem auto 0 auto;
		max-width: 35rem;
	}
}