.article-content {
  font-size: 1.125rem;
  margin: 0 auto 3rem;

  & p {
    margin: 1.5rem 0;
    text-align: justify;

    &:first-child {
      margin-top: 0;
    }
  }

  & cite {
    font-style: normal;

    &::before {
      content: "\201C";
    }

    &::after {
      content: "\201D";
    }
  }

  & blockquote {
    font-style: italic;
    margin: 1.5rem 0 0;

    /* stylelint-disable-next-line no-descending-specificity */
    & p {
      &::before {
        content: "\201C";
      }

      &::after {
        content: "\201D";
      }
    }

    & cite {
      font-style: inherit;
    }
  }
}
