.global-navigation {
  margin: 3rem -0.25rem;

  & ul {
    display: flex;
    justify-content: center;
  }

  & li {
    margin: 0 0.25rem;
    width: 100%;
  }

  & a {
    display: block;
    margin: 0 auto;
    max-width: 18rem;
    text-decoration: none;
  }

  & span {
    background: rgba(255 255 255 / 5%);
    display: block;
    font-size: 1.125rem;
    padding: 0.25rem 0.5rem;
    text-align: center;
  }

  & abbr {
    text-decoration: none;

    @media (min-width: 24rem) {
      &::after {
        content: attr(data-suffix);
      }
    }
  }
}
