.global-navigation {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
  }

  li {
    flex: 1 1 calc(50% - 0.5rem);

    @media (width >= 35rem) {
      flex: 1;
      margin-bottom: 0;
    }
  }

  a {
    background: var(--black-5);
    background-clip: content-box;
    display: block;
    text-decoration: none;
  }

  span {
    display: block;
    font-size: 1.125rem;
    padding: 0.25rem 0.5rem;
    text-align: center;
  }
}
