.global-footer {
  color: var(--black-40);
  text-align: center;

  .bio a {
    color: inherit;
    text-decoration: none;
  }

  abbr {
    border: 0;
    text-decoration: none;
  }

  small {
    display: block;
    font-size: 0.875rem;
    margin-top: 3rem;
  }
}
