.post {
  background: var(--black-5);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.post-header {
  color: var(--black-40);
  font-size: 1rem;
  margin-top: 1rem;
  order: 1;

  ul {
    display: flex;
  }

  li + li::before {
    content: "•";
    margin: 0 0.5rem;
  }

  sup {
    margin: 0;
    text-decoration: none;
    top: 0.05em;
  }

  a {
    color: var(--black-40);

    &:focus,
    &:hover {
      color: var(--black-50);
    }
  }
}

.post-content {
  margin: 0;

  p {
    text-align: left;
  }

  li {
    list-style-type: disc;
  }

  > :last-child {
    margin-bottom: 0;
  }
}
