.profiles-list {
  --apple-music: #fa243c;
  --bandcamp: #408294;
  --facebook: #1877f2;
  --mastodon: #6364ff;
  --soundcloud: #f30;
  --spotify: #1db954;
  --vimeo: #1ab7ea;

  display: flex;
  gap: 0.25rem;
  justify-content: center;
  margin: 1.25rem 0;

  li {
    padding: 0.25rem;
  }

  a {
    color: var(--black-40);
    display: block;
    padding: 0.5rem;

    &:focus,
    &:hover {
      color: var(--black-45);
    }
  }

  .profile-apple-music {
    &:focus,
    &:hover {
      color: var(--apple-music);
    }
  }

  .profile-bandcamp {
    &:focus,
    &:hover {
      color: var(--bandcamp);
    }
  }

  .profile-facebook {
    &:focus,
    &:hover {
      color: var(--facebook);
    }
  }

  .profile-mastodon {
    &:focus,
    &:hover {
      color: var(--mastodon);
    }
  }

  .profile-soundcloud {
    &:focus,
    &:hover {
      color: var(--soundcloud);
    }
  }

  .profile-spotify {
    &:focus,
    &:hover {
      color: var(--spotify);
    }
  }

  .profile-vimeo {
    &:focus,
    &:hover {
      color: var(--vimeo);
    }
  }

  svg {
    fill: currentColor;
    height: 1.5rem;
    vertical-align: middle;
    width: 1.5rem;
  }
}
