---
layout: application
---

{% for release in site.categories.releases limit: 1 -%}
	<article class="release article h-entry">
		<h1 class="page-title p-name">{{ release.title }}</h1>

		<div class="release-content article-content e-content">
			<figure class="release-artwork">
				<a href="{{ release.bandcamp_url }}" class="bordered-link">
					{% asset "releases/{{ release.album_slug }}-800.jpg" alt="{{ release.album_title }} cover art" %}
				</a>
			</figure>

			<div class="release-description">
				{{ release.content }}
			</div>
		</div>

		{% if release.bandcamp_id -%}
			{% include bandcamp_player.html bandcamp_id=release.bandcamp_id %}
		{% endif -%}
	</article>
{% endfor -%}
