---
layout: application
---

{% for release in site.categories.releases limit: 1 %}
	{% capture album_artwork_path %}releases/{{ release.album_slug }}-800.jpg{% endcapture %}

	<article class="release h-entry">
		<h1 class="page-title p-name">{{ release.title }}</h1>

		<div class="release-content e-content">
			<figure class="release-artwork">
				<a href="{{ release.bandcamp_url }}">
					<img src="{{ album_artwork_path | asset_path }}" alt="{{ release.album_title }} cover art">
				</a>
			</figure>

			<div class="release-description">
				{{ release.content }}
			</div>
		</div>

		{% if release.bandcamp_id %}
			<iframe src="https://bandcamp.com/EmbeddedPlayer/album={{ release.bandcamp_id }}/size=large/bgcol=333333/linkcol=aa8b54/tracklist=false/artwork=none/transparent=true/ref=https%253A%252F%252Fwhoistheorchid.com%252F/" class="release-player" seamless></iframe>
		{% endif %}
	</article>
{% endfor %}

<a href="/releases" class="past-releases-link">
	<span>Past Releases</span>
</a>