---
layout: "layouts/base.liquid"
title: "Releases"
---

<section class="releases">
  <h1 class="page-title">{{ title }}</h1>

  <ol class="releases-list ui-list clearfix" reversed>
    {% assign releases = collections.release | reverse -%}
    {% render "release.liquid" for releases as release %}
  </ol>
</section>

<section class="releases">
  <h1 class="page-title">Compilations</h1>

  <ol class="releases-list ui-list clearfix" reversed>
    {% assign compilations = collections.compilation | reverse -%}
    {% render "release.liquid" for compilations as release %}
  </ol>
</section>
